@model Idea_Database_Interface.Viewmodels.CategoriasListViewModel
@{
    ViewData["Title"] = "Categorías página";
}
<h1 class="display-4">Categorías</h1>
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 d-flex">
            <a class="btn btn-primary input-group" style="margin: 5px;" asp-action="Index">Volver</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
                    <span>Nombre</span>
                    <div>
                        <span>Activar |</span>
                        <span>Actualizar</span>
                    </div>
                </li>
                @foreach (var cat in Model.Categorias)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @cat.Nombre
                        <div>
                            <a class="btn btn-outline-primary" asp-action="ActivateCat" asp-route-id="@cat.Id">
                                @if (cat.IsActive)
                                {
                                    <i class="bi bi-check2-square"></i>
                                }
                                else
                                {
                                    <i class="bi bi-app"></i>
                                }
                            </a>
                            <a class="btn btn-outline-warning" asp-action="UpdateCateg" asp-route-id="@cat.Id"><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </li>
                }
            </ul>
        </div>

    </div>
</div>
