@model Idea_Database_Interface.Viewmodels.CategoriasListViewModel
@{
    ViewData["Title"] = "Categorías página";
}
<h1 class="display-4">Categorías</h1>
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <a class="btn input-group" style="background-color: dodgerblue" asp-action="CreateCateg">Crear categoría</a>
        </div>
    </div>
    <br />
    <div class="col-md-4">
        <ul class="list-group list-group-flush">
            @foreach (var cat in Model.Categorias)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="nav-link text-black" asp-action="Overview" asp-route-id="@cat.Id">@cat.Nombre</a>
                    <span class="badge bg-primary ">@Model.EmprendedoresCategorias.Where(x=>x.IdCategoría==cat.Id).Count()</span>
                </li>
            }
        </ul>
    </div>


</div>